<mat-accordion *ngIf="propertyData" >
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Owner Info
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <p *ngFor="let owner of ownersData">
      {{owner.name}}
      <br>
      {{owner.address}} {{owner.city}} {{owner.state}} {{owner.zip}}
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Comparables
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <p *ngFor="let comparable of comparablesData">
      {{comparable.property.address.formatted_street_address}} (comp score: {{comparable.property.metadata.comp_score}})
      <br>
      {{comparable.property.address.city}},
      {{comparable.property.address.state}}
      {{comparable.property.address.zip_code}}
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Site
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
      <ng-container *ngFor="let key of Object.keys(siteData)">
        <li *ngIf="siteData[key]">
          {{key}} : {{siteData[key]}}
        </li>
      </ng-container>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="structuresData.length">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Structures
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
      <ng-container *ngFor="let key of Object.keys(structuresData[0])">
        <li *ngIf="structuresData[0][key]">
          {{key}} : {{structuresData[0][key]}}
        </li>
      </ng-container>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="taxesData.length">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Taxes
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
      <ng-container *ngFor="let key of Object.keys(taxesData[0])">
        <li *ngIf="taxesData[0][key]">
          {{key}} : {{taxesData[0][key]}}
        </li>
      </ng-container>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Valuation
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
      <ng-container *ngFor="let key of Object.keys(valuationData)">
        <li *ngIf="valuationData[key]">
          {{key}} : {{valuationData[key]}}
        </li>
      </ng-container>
    </ul>
  </mat-expansion-panel>
</mat-accordion>

<mat-expansion-panel *ngIf="!propertyData && leadData">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Owner
    </mat-panel-title>
    <mat-panel-description>

    </mat-panel-description>
  </mat-expansion-panel-header>
  <button mat-raised-button (click)="purchaseLeadDetails(leadData.id)">Get Owner Info</button>
</mat-expansion-panel>
