mat-card {
  margin: 6px;
}

.list-container {
  display: flex;
  flex-direction: row;
  height: 100%;

  .list-card {
    min-width: 300px;

    app-lead {
      width: 100%;
    }
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  form {
    max-width: 300px;
    width: 100%;
    text-align: center;
  }

  mat-form-field {
    width: 100%;
    max-width: 300px;
  }

  > mat-card {
    flex: 1;
  }
}

mat-card.detail-card {
  flex: 1;

  mat-tab-group {
    max-height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .list-container {
    flex-direction: column;
  }

  .list-container > mat-card {
    flex: 1;
  }

  mat-card.list-card {
    max-width: none;
    max-height: 150px;
    min-width: 0 !important;
  }

  mat-card.list-card > mat-list > mat-list-item {
    font-size: 13px;
  }

  mat-card.detail-card {
    max-width: none;
    max-height: none;
  }
}
