<ng-container *ngIf="authService.isLoggedIn()">
  <mat-card class="header-card">
    <app-button (reloadLeads)="loadLeads()"></app-button>
  </mat-card>

  <div class="list-container">
    <mat-card class="list-card" [perfectScrollbar]="scrollConfig">
      <mat-list>
        <mat-list-item *ngFor="let lead of leads">
          <app-lead [formatted_address]="lead.formatted_address"></app-lead>
        </mat-list-item>
      </mat-list>
    </mat-card>
    <mat-card *ngIf="activeProperty" class="detail-card" [perfectScrollbar]="scrollConfig">
      <app-property [id]="activeProperty"></app-property>
    </mat-card>
  </div>
</ng-container>

<ng-container *ngIf="!authService.isLoggedIn()">
  <div class="login-container">
    <mat-card class="login-card">
      <form (ngSubmit)="login()">
        <mat-form-field>
          <input name="username" matInput placeholder="username" [(ngModel)]="username" #ctrl="ngModel">
        </mat-form-field>
        <mat-form-field>
          <input type="password" name="password" matInput placeholder="password" [(ngModel)]="password" #ctrl="ngModel">
        </mat-form-field>
        <button type="submit" mat-raised-button>login</button>
      </form>
    </mat-card>
  </div>
</ng-container>

