<mat-accordion *ngIf="contactData" >


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Contact
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
      <ng-container *ngFor="let key of Object.keys(contactData)">
        <li *ngIf="contactData[key]">
          {{key}} : {{contactData[key]}}
        </li>
      </ng-container>
    </ul>
  </mat-expansion-panel>

</mat-accordion>

