<mat-card>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input name="address" matInput placeholder="Address" [(ngModel)]="address" #ctrl="ngModel">
    </mat-form-field>
    <button type="submit" mat-raised-button>+</button>
  </form>
  <button mat-raised-button (click)="purchasePropertyDetails()" disabled="{{disablePurchaseButton}}">Purchase Data</button>
</mat-card>

<mat-tab-group *ngIf="propertyData">
  <ng-container *ngFor="let key of Object.keys(propertyData)">
    <mat-tab *ngIf="propertyData[key]" label="{{key}}">
      <mat-card>
        <mat-card-content>
          <p *ngIf="propertyData[key] && !isObject(propertyData[key])">
            {{propertyData[key]}}
          </p>
          <ng-container *ngIf="propertyData[key] &&  isObject(propertyData[key])">
            <ng-container *ngFor="let key0 of Object.keys(propertyData[key])">
              <p *ngIf="propertyData[key][key0] && !isObject(propertyData[key][key0])">
                <b>{{key0}}</b> : {{propertyData[key][key0]}}
              </p>
              <ng-container *ngIf="propertyData[key][key0] && isObject(propertyData[key][key0])">
                <ng-container *ngFor="let key1 of Object.keys(propertyData[key][key0])">
                  <p *ngIf="propertyData[key][key0][key1]">
                    <b>{{key1}}</b> : {{propertyData[key][key0][key1]}}
                  </p>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </ng-container>
</mat-tab-group>


